*.nupkg
*.nuspec
/artifacts
/heirowDotNetShield/bin/Release/net8.0-windows
/heirowDotNetShield/obj
/heirowDotNetShield.Launcher/bin/Release
/heirowDotNetShield.Launcher/obj
/JackDebug.ProtectedTestApp/bin/Release/net8.0-windows
/JackDebug.ProtectedTestApp/obj
/JackDebug.Injector.Hook/obj
/JackDebug.Injector/obj
/JackDebug.Injector/bin/Release/net8.0-windows
/bin/Debug/net8.0-windows/JackDebug.WPF.dll
/bin/Debug/net8.0-windows/JackDebug.WPF.pdb
*.json
/bin/Release/net8.0-windows/JackDebug.WPF.dll
/bin/Release/net8.0-windows/JackDebug.WPF.pdb
/JackDebug.Injector.Hook/bin/Release/net8.0-windows
